body {
    background: #dfdfdf;
}

p {
    color: #222222;
}

.foto_principal {
    width: 250px;
    border: 2px solid #FFFFFF; /* shorthand */
    border-radius: 50% ;
    
    /*
    border-width: 5px;
    border-style: inset;
    border-color: black;
    */
}