body {
    background: #dfdfdf;
    font-family: 'Raleway', sans-serif;
    color: #222222;
    margin: 0px;
}


.container {
    width: 900px;
    margin: 0 auto;
}

.profile {
    text-align: center;
    margin-bottom: 40px;
}

.foto_principal {
    width: 250px;
    border: 2px solid #FFFFFF; /* shorthand */
    border-radius: 50% ;
    margin: 30px 30px 0px 30px;
    padding: 10px;
    box-shadow: 0px 0px 10px #959595;
}
h1 {
    margin-top: 10px;
    margin-bottom: 0;
    letter-spacing: -1px;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 50px;
}
h2 {
    margin-top: 0;
    font-style: italic;
    color: #959595;
    font-weight: 100;
    letter-spacing: -1px;

}

.social-links {
    text-decoration: none;
}


.social-icons {
    width: 20px;
    height: auto;
}

.instagram {
    margin: 0px 15px 0px 15px;
}

.footer {
    margin-top: 40px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0px;
}