body {
    background: #dfdfdf;
    font-family: Arial, Helvetica, sans-serif;
    color: #222222
}


.foto_principal {
    width: 250px;
    border: 2px solid #FFFFFF; /* shorthand */
    border-radius: 50% ;
    margin: 30px 30px 30px 30px;
    padding: 10px;
    box-shadow: 0px 0px 10px #959595;
}
h1 {
    margin-bottom: 0;
    letter-spacing: -1px
}
h2 {
    margin-top: 0;
    font-style: italic;
    color: #959595;
    font-weight: 100;
    letter-spacing: -1px;

}